body: {
  background: green;
}
.resize-handle {
  fill: blue;
  fill-opacity: 0;
  margin-left: -5px;
  margin-top: -15px;
}
.resize-handle:hover {
  fill-opacity: 0.8;
}
.selected .resize-handle {
  fill-opacity: 1;
}
.selected .resize-handle.edge {
  fill: white;
  stroke: blue;
  stroke-width: 3px;
}
.resize-handle[data-direction="nw"] {
  cursor: nw-resize;
}
.resize-handle[data-direction="n"] {
  cursor: n-resize;
}
.resize-handle[data-direction="ne"] {
  cursor: ne-resize;
}
.resize-handle[data-direction="e"] {
  cursor: e-resize;
}
.resize-handle[data-direction="se"] {
  cursor: se-resize;
}
.resize-handle[data-direction="s"] {
  cursor: s-resize;
}
.resize-handle[data-direction="sw"] {
  cursor: sw-resize;
}
.resize-handle[data-direction="w"] {
  cursor: w-resize;
}

.opacity-0 {
  fill: #00000000;
}
